.hover-effect:hover p {
  display: none;
}

.hover-effect:hover h2 {
  margin-top: 220px;
  transition: 10s ease-out;
  transition-duration: 1000ms;
}

.hover-effect:hover > div:first-child {
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  transition-duration: 1000ms;
}
