.red-img {
  filter: invert(4%) sepia(30%) saturate(7500%) hue-rotate(-1deg)
    brightness(85%);
  width: 100px;
}
.show-animation {
  transition: padding 0.4s ease;
}

.show-animation:hover {
  padding-left: 3.5rem;
}

/* hidden by default */
.paper-fly {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.7s ease, transform 0.5s ease;
  pointer-events: none;
}

/* show smoothly on hover */
.show-animation:hover .paper-fly {
  opacity: 1;
  transform: translateX(0);
}

.moving-container {
  margin-top: 10vh;
  position: absolute;
  bottom: 3%;
  width: 67%;
  overflow: hidden;
}

.moving-container .moving-content img {
  width: 80px;
  height: 80px;
}

.moving-container .moving-content2 img {
  width: 80px;
  height: 80px;
}

.moving-content {
  animation-name: moveLeft;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* Animation */

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes flyToCenter {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  100% {
    transform: translate(-69vw, -300px);
    opacity: 1;
  }
}

.fly {
  position: absolute;
  bottom: 10;
  right: 20;
  animation: flyToCenter 4s ease-out forwards;
}
